#container dt,#container dd{
    display: block;
    float:left;
    margin: 0 10px;
    padding: 5px 10px;
    font-family:Microsoft JhengHei;
    font-size: 20px;
}
#container dt{
    background-color:#ffcc66;
    color:black;    
}
#container dd{
    color: #333;
}